rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /pacientes/{paciente} {
      allow read, update: if true;
    }
    match /libro_correcto/{registro} {
      allow read, create: if true;
    }
  }
}